<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Obesity </h1>
    <p>
        calorie-deficit diet  : Choose nutrient-dense, whole food
    </p>
    <h1>Cholesterol</h1>
    <p>
        Mediterranean Diet : Emphasizes fruits, vegetables, whole grains, fish, and healthy fats like olive oil.
        Portfolio Diet: Includes cholesterol-lowering foods like plant sterols, nuts, oats, and soy.
    </p>
    <h1>Heart Health</h1>
    <p>
        DASH Diet (Dietary Approaches to Stop Hypertension): Emphasizes fruits, vegetables, whole grains, lean proteins, and low-fat dairy.
        Mediterranean Diet: Promotes heart-healthy fats, fish, fruits, and vegetables.
    </p>
    <h1>Acidity</h1>
    <p>
        Low-Acid Diet: Focuses on non-citrus fruits, vegetables, and lean proteins.
        GERD Diet (Gastroesophageal Reflux Disease): Avoids acidic, spicy, and fatty foods.
    </p>
    <h1>Blood Pressure</h1>
    <p>
        DASH Diet: Emphasizes potassium-rich foods, whole grains, lean proteins, and limits sodium.
        Mediterranean Diet: Incorporates heart-healthy fats, fruits, vegetables, and fish.
    </p>
    <h1>Diabetes</h1>
    <p>
        Balanced Diet: Includes a variety of nutrient-dense foods from all food groups.
        Mediterranean Diet: Offers a balanced and heart-healthy approach to eating.
    </p>
</div>

</body>
</html>